*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
/*     overflow: hidden; */
    background-color: rgb(172, 210, 243);
}

p{
    color: grey;
    font-weight: bold;
    font-size: 0.8rem;
}

a{
    font-size: 0.8rem;
    margin-left: 1rem;
    color: rgb(156, 149, 149);
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    text-decoration: none;
    color: blue;
}

/*UTILITY CLASSES*/
.left_div{
    row-gap: 1rem;
    width: 11%;
    padding-bottom: 19.5rem;
    padding-right: 3rem;
}

.umbrella{
    margin: 2rem 0rem -3rem 3rem;
}

.riders_link{
    margin: 0.3rem 0rem 0rem -0.5rem;
}

.money{
    margin: 0rem 0.7rem 0rem 0.2rem;
}

.envelope{
    padding-right: 0.4rem;
}

.eye{
    padding-right: 0.3rem;
}

.p1{
    margin: 3rem 0rem 0rem 2.5rem;
}

.dash_div{
    column-gap: 50rem;
}

.date_div{
    column-gap: 1rem;
}

.users_link{
    margin-left: -0.5rem;
}

.riderinfo{
    gap: 1rem;
    margin-left: -5rem;
}

.city, .Abuja{
    margin-left: -2rem;
}

.rider_name, .rider_city{
    background-color: rgb(210, 207, 207);
}

.from{
    margin-left: 8rem;
}

.order_state{
    margin-left: 3rem;
}

.state1{
    background-color: rgb(199, 238, 251);
}

.state2{
    background-color: hsla(0, 49%, 74%, 0.485);
}

.state3{
    background-color: aquamarine;
}

.rider_pic{
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.riderdiv{
    display: grid;
    grid-template-columns: 150px 100px 150px 150px 150px 150px 150px;
}

.userbg{
    cursor: pointer;
    background-color: rgb(233, 230, 230);
}

.updatebtn{
    position: relative;
    left: 150px;
}

.info_c{
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin-left: 0.2rem;
}

.circlediv{
    padding-left: 8rem;
}

.remove{
    padding: 0.5rem 0rem 0rem 58rem;
}